<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
    <img class="img-thumbnail rounded mx-auto d-block" style="max-width: 150px;" src="<%=employee.image %>" />
    
    <p><strong>Name: </strong><%= employee.name %></p>
    <p><strong>Favorite Beer: </strong><%= employee.drink %></p>

      <a class="btn btn-info" href="/">Get Employee</a>
    </div>
  </div>
</div>
