<div id="container">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <img id="image" class="img-thumbnail rounded mx-auto d-block" style="max-width: 150px;" src="<%=employee.image %>" />

        <p><strong>Name: </strong>
          <span id="name">
            <%= employee.name %></span>
        </p>
        <p><strong>Favorite Beer: </strong>
          <span id="beer">
            <%= employee.drink %></span>
        </p>
        <p class="test"></p>

        <a class="btn btn-info" href="/">Get Employee</a>
      </div>
    </div>
  </div>
</div>



<script src="/socket.io/socket.io.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {

    const image = document.getElementById('image');
    const name = document.getElementById('name').textContent;
    const beer = document.getElementById('beer').textContent;

    console.log(image, name, beer);

    const socket = io();
    socket.emit('update', {
      image,
      name,
      beer
    });
    socket.on('container', data => {
      console.log(data);
      document.getElementById('name').textContent = data.name;
      document.getElementById('beer').textContent = data.beer;
    })
  });
</script>
</div>
</div>
</div>