<div id="container">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <img id="image" class="img-thumbnail rounded mx-auto d-block" style="max-width: 150px;" src="<%=employee.image %>" />

        <p><strong>Name: </strong>
          <span><%= employee.name %></span>
        </p>
        <p><strong>Favorite Beer: </strong>
          <span><%= employee.drink %></span>
        </p>
        <p class="test"></p>

        <a class="btn btn-info" onclick="updateEmployee()">Get Employee</a>
      </div>
    </div>
  </div>
</div>



<script src="/socket.io/socket.io.js"></script>
<script>
  function updateEmployee() {
    const image = document.getElementById('image');
    const name = document.getElementById('name');
    const beer = document.getElementById('beer');
    
    console.log(container);
    const socket = io();
    socket.emit('update', {
      container
    });
    socket.on('container', data => {
      console.log(data);
      document.querySelector('#container').innerHTML = data;
    })
  }
</script>
</div>
</div>
</div>